<div
  class="fixed top-0 z-[40000] flex w-full flex-col transition-transform duration-700 ease-in-out"
>
  <div class="flex w-full items-stretch justify-between bg-white">
    <!-- Logo and date -->
    <div class="flex items-center justify-start gap-4 px-10 py-4">
      <a href="/" class="focusable block">
        {{
          include("views/svgs/logo/logo-biografilm-red.svg")|attr({
            class: "w-[153px] h-auto"
          })
        }}
      </a>
      {% if header_show_date_location %}
        <div
          class="text-tight flex flex-col items-start justify-start gap-0 text-xs"
        >
          <span class="font-semibold">{{ header_date }}</span>
          <span class="font-normal">{{ header_location }}</span>
        </div>
      {% endif %}
    </div>
    <!-- Navigation -->
    <div
      class="border-l-stroke flex flex-1 items-stretch justify-between border-l"
    >
      <!-- Language -->
      <div>
        <a
          href="/"
          class="focusable hover:bg-white-hover active:bg-white-active flex cursor-pointer items-center gap-2 bg-white p-6 pr-4!"
        >
          <span>ITA</span>
          {{
            include("icons/generic/chevron-down.svg")|attr({ class: "size-5" })
          }}
        </a>
      </div>
      <!-- Right side -->
      <div class="flex">
        <!-- Tabs -->
        <div class="flex items-stretch">
          <a
            href="/"
            class="text-tight flex items-center p-6 text-base transition-colors {{
            current_section == "festival"
              ? "bg-red font-semibold text-white"
              : "bg-white hover:bg-white-hover active:bg-white-active cursor-pointer text-black"
            }}"
          >
            Festival
          </a>
          <a
            href="{{ nav_urls.industry }}"
            class="text-tight flex items-center p-6 text-base transition-colors {{
            current_section == "industry"
              ? "bg-red font-semibold text-white"
              : "bg-white hover:bg-white-hover active:bg-white-active cursor-pointer text-black"
            }}"
          >
            Industry
          </a>
          <a
            href="{{ nav_urls.campus }}"
            class="text-tight flex items-center p-6 text-base transition-colors {{
            current_section == "campus"
              ? "bg-red font-semibold text-white"
              : "bg-white hover:bg-white-hover active:bg-white-active cursor-pointer text-black"
            }}"
          >
            Campus
          </a>
        </div>
        <!-- Search & Menu -->
        <div class="flex items-stretch">
          <a
            href="/"
            class="hover:bg-white-hover active:bg-white-active focusable border-l-stroke flex aspect-square cursor-pointer items-center justify-center border-l bg-white p-6"
          >
            {{ include("icons/generic/search.svg")|attr({ class: "size-5" }) }}
          </a>
          <a
            href="/"
            class="hover:bg-white-hover active:bg-white-active focusable border-l-stroke flex aspect-square cursor-pointer items-center justify-center border-l bg-white p-6"
          >
            {{ include("icons/generic/menu.svg")|attr({ class: "size-5" }) }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-red h-[44px] w-full">
    {% if current_section == "festival" %}
      <!-- Festival -->
    {% elseif current_section == "industry" %}
      <!-- Industry -->
    {% elseif current_section == "campus" %}
      <!-- Campus -->
    {% endif %}
  </div>
</div>
