<!DOCTYPE html>
<html {{ site.language_attributes }}>
  {% block head %}
    {{ include("parts/head.twig") }}
  {% endblock head %}
  <body {{ attr({ class: [body_class, "antialiased"] }) }}>
    {{ include("components/header/header.twig") }}
    {{ function("wp_body_open") }}

    {% if environment == "development" %}
      {{ include("components/tailwind-debugger.twig") }}
    {% endif %}

    <main>
      {% block hero %}
        {% if not function("get_field", "hide_hero") %}
          {% set hero_alt_title = function("get_field", "hero_alt_title") %}
          {% set hero_title_style = function("get_field", "hero_title_style") ?: "primary" %}
          {{ include("components/hero/hero.twig", {
            hero_title: hero_alt_title ?: post.title,
            hero_title_style: hero_title_style
          }) }}
        {% endif %}
      {% endblock hero %}

      {% block content %}

      {% endblock content %}
    </main>

    {% block footer %}
      {{ include("parts/footer.twig") }}
    {% endblock footer %}

    {{ function("wp_footer") }}
    {% do action("get_footer", null) %}
  </body>
</html>
