<a
  {% if location.link %}href="{{ location.link.url }}" target="{{ location.link.target ?: "_self" }}"{% endif %}
  class="group border-stroke relative col-span-1 flex flex-col border-b transition-colors duration-300 {{
  extra_class
  }}"
>
  <div
    class="overlay-blur absolute z-30 h-full w-full bg-transparent backdrop-blur-[50px]"
  ></div>
  <div class="relative aspect-video w-full overflow-hidden bg-gray-200">
    <div
      class="overlay absolute z-30 h-full w-full bg-transparent [mask-image:radial-gradient(ellipse_at_center,transparent_45%,black_90%)] backdrop-blur-[0px] transition-[backdrop-filter,_-webkit-backdrop-filter] duration-700 ease-in-out [-webkit-mask-image:radial-gradient(ellipse_at_center,transparent_45%,black_90%)] {{ location.link ? "group-hover:backdrop-blur-[90px]" : "" }}"
    ></div>
    <img
      src="{{
      location.image
        ? location.image.url
        : site.theme.link ~ "/assets/images/fallback-img.jpg"
      }}"
      alt="{{ location.name }}"
      class="h-full w-full object-cover {{ location.link ? "transition-all duration-500 group-hover:scale-[1.1]" : "" }}"
    />
  </div>
  <div class="border-l-stroke flex flex-1 flex-col gap-8 px-6 py-6 md:border-l">
    <div class="flex flex-1 flex-col gap-2">
      <h5 class="text-tight blur-in line-clamp-2 text-2xl font-semibold">
        {{ location.name }}
      </h5>
      {% if location.address %}
        <p class="text-tight blur-in text-base text-black">
          {{ location.address }}
        </p>
      {% endif %}
    </div>
    {% if location.link %}
      <div class="flex items-center justify-between gap-2">
        <p class="text-tight blur-in text-base text-black font-semibold">
          {{ location.link.title ?: "Scopri di più" }}
        </p>
        <span class="blur-in relative block h-6 w-6 overflow-hidden">
          <span
            class="absolute inset-0 transition-transform duration-500 ease-in-out group-hover:translate-x-6"
          >
            {{
              include("icons/generic/arrow-right.svg")|attr({ class: "size-6" })
            }}
          </span>
          <span
            class="absolute inset-0 -translate-x-6 transition-transform duration-500 ease-in-out group-hover:translate-x-0"
          >
            {{
              include("icons/generic/arrow-right.svg")|attr({ class: "size-6" })
            }}
          </span>
        </span>
      </div>
    {% endif %}
  </div>
</a>
