{% extends "base.twig" %}

{% block hero %}
  {% set hero_title = post.title %}
  {% set hero_title_style = "news" %}
  {{ include("components/hero/hero.twig") }}
{% endblock hero %}

{% block content %}
  <article class="">
    <div class="flex flex-col gap-10 xl:w-2/3 xl:gap-12">
      {% if post.thumbnail %}
        {% set thumb_id = function("get_post_thumbnail_id", post.ID) %}
        {% set fp = thumb_id
          ? function("get_post_meta", thumb_id, "focalpoint", true)
          : null
        %}
        {% set fp_style = fp
          ? "object-position: " ~ ((fp.left * 100)|round) ~ "% "
            ~ ((fp.top * 100)|round)
            ~ "%;"
          : null
        %}
        <div class="aspect-video w-full overflow-hidden">
          <img
            src="{{ post.thumbnail.src("large") }}"
            alt="{{ post.thumbnail.alt }}"
            class="h-full w-full object-cover xl:pb-8"
            style="{{ fp_style }}"
          />
        </div>
      {% endif %}

      <div
        class="prose-content prose border-stroke max-w-none px-6 text-xl leading-[150%] text-black/80 xl:px-10"
      >
        {{ post.content }}
      </div>

      {% set approfondimenti =
        function("get_field", "approfondimenti", post.ID)
      %}
      {% if approfondimenti %}
        <div class="border-stroke flex flex-col gap-12 pb-20 xl:pb-30">
          {% for block in approfondimenti %}
            {% set layout = block.acf_fc_layout %}

            {% if layout == "text" %}
              <div
                class="prose text-tight max-w-none px-6 text-xl leading-[150%] xl:px-10"
              >
                {{ block.content }}
              </div>
            {% elseif layout == "link" %}
              {% if block.links %}
                <div class="flex flex-wrap gap-4 px-6 xl:px-10">
                  {% for item in block.links %}
                    {% if item.link %}
                      {{
                        include(
                          "components/button.twig",
                          {
                            as_link: true,
                            variant: "default",
                            size: "lg",
                            label: item.link.title,
                            attributes: {
                              href: item.link.url,
                              target: item.link.target ? : "_self",
                              class: "md:w-fit w-full"
                            }
                          }
                        )
                      }}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% elseif layout == "gallery" %}
              {% if block.images %}
                <div class="carousel-wrapper w-full xl:py-8">
                  <div
                    class="swiper carousel aspect-4/3 w-full md:aspect-video"
                  >
                    <div class="swiper-wrapper">
                      {% for item in block.images %}
                        <div class="swiper-slide overflow-hidden">
                          <img
                            src="{{ item.url }}"
                            alt="{{ item.alt }}"
                            class="h-full w-full object-cover"
                          />
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% if (block.images|length) > 1 %}
                    <div
                      class="hero-carousel-nav giurie-nav carousel-nav-below border-b-0!"
                    >
                      <button
                        class="swiper-button-prev"
                        aria-label="Precedente"
                      >

                      </button>
                      <div class="swiper-pagination" role="tablist"></div>
                      <button
                        class="swiper-button-next"
                        aria-label="Successivo"
                      >

                      </button>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            {% elseif layout == "accordion" %}
              {% if block.items %}
                <div class="border-stroke flex flex-col gap-6 px-6 xl:px-10">
                  {% for item in block.items %}
                    <div
                      class="border-stroke flex flex-col border-x border-t border-b"
                      x-data="{ open: false }"
                    >
                      <button
                        class="flex w-full cursor-pointer items-start gap-4 p-6 text-left xl:p-10"
                        @click="open = !open"
                        :aria-expanded="open"
                      >
                        <p
                          class="text-tight heading-h6 flex-1 font-semibold text-black"
                        >
                          {{ item.question }}
                        </p>
                        <span class="relative block size-9 shrink-0 self-start">
                          <span
                            class="absolute inset-0"
                            x-show="!open"
                            x-transition:enter="transition duration-200 ease-out"
                            x-transition:enter-start="opacity-0 scale-75"
                            x-transition:enter-end="opacity-100 scale-100"
                            x-transition:leave="transition duration-150 ease-in"
                            x-transition:leave-start="opacity-100 scale-100"
                            x-transition:leave-end="opacity-0 scale-75"
                          >
                            {{
                              include("icons/generic/plus.svg")|attr({
                                class: "size-9"
                              })
                            }}
                          </span>
                          <span
                            class="absolute inset-0"
                            x-show="open"
                            x-transition:enter="transition duration-200 ease-out"
                            x-transition:enter-start="opacity-0 scale-75"
                            x-transition:enter-end="opacity-100 scale-100"
                            x-transition:leave="transition duration-150 ease-in"
                            x-transition:leave-start="opacity-100 scale-100"
                            x-transition:leave-end="opacity-0 scale-75"
                          >
                            {{
                              include("icons/generic/minus.svg")|attr({
                                class: "size-9"
                              })
                            }}
                          </span>
                        </span>
                      </button>
                      {% if item.answer %}
                        <div x-show="open" x-collapse>
                          <div
                            class="prose text-tight px-6 pb-6 text-xl leading-[150%] text-black/80 xl:px-10 xl:pb-10"
                          >
                            {{ item.answer|raw }}
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </article>

  {% if related_ospitalita %}
    {{
      include(
        "components/card-displayer/card-displayer.twig",
        {
          component: {
            title: "Leggi anche",
            title_class: "heading-h4 font-semibold",
            items: related_ospitalita,
            always_even: true
          }
        }
      )
    }}
  {% endif %}
{% endblock content %}
