<section class="w-full">
  <div class="3xl:grid-cols-4 grid w-full grid-cols-3">
    <div
      class="3xl:col-span-1 col-span-3 flex flex-col gap-2 px-6 pt-20 pb-10 xl:col-span-1 xl:p-10!"
    >
      {% if component.title %}
        <h2 class="{{ component.title_class ? : "display-h2" }} blur-in">
          {{ component.title }}
        </h2>
      {% endif %}
      {% if component.link %}
        <a
          href="{{ component.link.url }}"
          target="{{ component.link.target ? : "_self" }}"
          class="blur-in text-tight text-red group flex items-center gap-2 text-xl font-semibold"
        >
          <span class="link-underline">{{ component.link.title }}</span>
          {{
            include("icons/generic/arrow-right.svg")|attr({
              class: "size-6 transition-transform duration-500 ease-out group-hover:translate-x-2"
            })
          }}
        </a>
      {% endif %}
    </div>
    <div
      class="border-stroke 3xl:col-span-3 3xl:grid-cols-3 col-span-3 grid grid-cols-1 md:grid-cols-2 xl:col-span-2"
    >
      {% set count = component.items|length %}
      {% set always_even = component.always_even %}
      {% set is_odd = count % 2 == 1 %}
      {% set filler_border = component.filler_border_bottom ? "border-b" : "" %}
      {% for item in component.items %}
        {% set is_last = loop.last %}
        {% set hide_last = always_even and is_odd and is_last %}
        {% if item.post_type == "news" %}
          {{
            include(
              "parts/cards/news-card.twig",
              {
                news: item,
                is_last: is_last,
                extra_class: hide_last ? "hidden 3xl:block" : ""
              }
            )
          }}
        {% elseif item.post_type == "film" %}
          {{
            include(
              "parts/cards/film-card.twig",
              {
                film: item,
                is_last: is_last,
                extra_class: hide_last ? "hidden 3xl:block" : ""
              }
            )
          }}
        {% else %}
          {{
            include(
              "parts/cards/screening-card.twig",
              {
                proiezione: item,
                is_last: is_last,
                extra_class: hide_last ? "hidden 3xl:block" : ""
              }
            )
          }}
        {% endif %}
      {% endfor %}
      {% set remainder_3col = count % 3 %}
      {% set filler_3col = remainder_3col > 0 ? 3 - remainder_3col : 0 %}

      {% if is_odd and not always_even %}
        <div class="border-stroke 3xl:hidden col-span-1 border-l {{ filler_border }}"></div>
      {% endif %}

      {% if filler_3col > 0 %}
        {% for i in 1..filler_3col %}
          <div class="border-stroke hidden 3xl:block col-span-1 border-l {{ filler_border }}"></div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
