<div class="bg-red block">
  <div
    class="overlay-blur overlay absolute z-30 h-full w-full bg-transparent backdrop-blur-[50px]"
  ></div>
  <div class="flex flex-wrap items-center justify-between text-xl text-white">
    <div
      class="flex flex-1 flex-col flex-wrap gap-4 border-r-white/60 p-6 lg:flex-row lg:gap-2 lg:border-r lg:px-10 lg:py-4"
    >
      <span class="text-tight inline-block font-bold whitespace-nowrap">
        {{ component.title }}
      </span>
      {% if component.subtitle %}
        <span class="text-tight inline-block">{{ component.subtitle }}</span>
      {% endif %}
    </div>
    {% if component.link %}
      <a
        href="{{ component.link.url }}"
        target="{{ component.link.target ? : "_self" }}"
        class="hover:bg-red-hover text-tight active:bg-red-active flex w-full flex-row items-center justify-between gap-10 border-t border-t-white/60 px-6 py-4 font-bold transition-colors duration-300 lg:w-1/4 lg:border-t-0"
      >
        <span>{{ component.link.title }}</span>
        <span>
          {{
            include("icons/generic/arrow-right.svg")|attr({ class: "size-6" })
          }}
        </span>
      </a>
    {% endif %}
  </div>
</div>
