<section
  id="{{ component.anchor }}"
  class="w-full {{ component.anchor ? "scroll-mt-28" : "" }}"
>
  {% set borders = component.borders_group %}

  {% if component.title or component.link %}
    <div
      class="flex flex-col items-start justify-between gap-y-3 px-6 py-10 xl:flex-row xl:items-center xl:px-10 xl:pt-30 {{
      borders.header_border_top or borders.header_border_bottom
        ? "border-stroke"
        : ""
      }} {{ borders.header_border_top ? "border-t" : "" }} {{
      borders.header_border_bottom ? "border-b" : ""
      }}"
    >
      {% if component.title %}
        <h2 class="display-h2 blur-in">{{ component.title }}</h2>
      {% endif %}
      {% if component.link %}
        <a
          href="{{ component.link.url }}"
          target="{{ component.link.target ?: "_self" }}"
          class="blur-in text-tight text-red group flex items-center gap-2 text-xl font-semibold"
        >
          <span class="link-underline">{{ component.link.title }}</span>
          {{
            include("icons/generic/arrow-right.svg")|attr({
              class: "size-6 transition-transform duration-500 ease-out group-hover:translate-x-2"
            })
          }}
        </a>
      {% endif %}
    </div>
  {% endif %}

  {% if component.items %}
    <div
      class="{{ borders.cards_border_top ? "border-stroke border-t" : "" }} {{
      borders.cards_border_bottom ? "border-stroke border-b" : ""
      }}"
    >
      {% set count = component.items|length %}
      <div
        class="swiper contents-displayer-swiper contents-displayer-swiper--has-nav"
        data-cols="{{ component.colonne ?? '4' }}"
      >
        <div class="swiper-wrapper">
          {% for doc in component.items %}
            <div class="swiper-slide">
              {{
                include(
                  "parts/cards/contents-card.twig",
                  {
                    doc: doc,
                    extra_class: (loop.last and count < 4) ? "border-r" : ""
                  }
                )
              }}
            </div>
          {% endfor %}
        </div>
        <div class="hero-carousel-nav contents-displayer-nav border-b-0">
          <button
            class="swiper-button-prev"
            aria-label="Precedente"
          ></button>
          <div class="swiper-pagination" role="tablist"></div>
          <button
            class="swiper-button-next"
            aria-label="Successivo"
          ></button>
        </div>
      </div>
    </div>
  {% endif %}
</section>
