{% if breadcrumbs %}
  <nav class="flex w-full flex-wrap items-center gap-2">
    {% for crumb in breadcrumbs %}
      {% if not loop.first %}
        {{
          include("icons/generic/chevron-right.svg")|attr({
            class: "size-3 shrink-0 text-black/40"
          })
        }}
      {% endif %}
      {% if loop.last %}
        <span
          class="bg-red max-w-[300px] min-w-0 truncate px-2 py-0.5 text-sm font-semibold text-white"
        >
          {{ crumb.title }}
        </span>
      {% elseif crumb.url %}
        <a
          href="{{ crumb.url }}"
          class="text-tight link-underline [--link-underline-height:1px] shrink-0 text-sm whitespace-nowrap text-black"
        >
          {{ crumb.title }}
        </a>
      {% else %}
        <span class="text-tight shrink-0 text-sm whitespace-nowrap text-black">
          {{ crumb.title }}
        </span>
      {% endif %}
    {% endfor %}
  </nav>
{% endif %}
