{% set is_40_60 = component.column_layout == "40_60" %}
{% set is_rtl = component.direction == "rtl" %}

<section class="w-full">
  <div
    class="grid w-full py-20 xl:py-0 {{
    is_40_60
      ? "xl:grid-cols-[2fr_3fr]"
      : "xl:grid-cols-3"
    }} {{ component.show_border_top ? "border-stroke border-t" : "" }} {{
    component.show_border_bottom
      ? "border-stroke border-b"
      : ""
    }}"
  >
    <div
      class="col-span-1 mb-10 flex flex-col gap-2 px-6 xl:mb-0 xl:px-10 xl:py-30 {{
      is_rtl
        ? "xl:order-last"
        : ""
      }}"
    >
      {% if component.heading %}
        {% set heading_class = component.heading_size == "big"
          ? "display-h2"
          : component.heading_size == "medium"
            ? "heading-h3 font-semibold"
            : "heading-h4 font-semibold"
        %}
        <h2 class="{{ heading_class }} blur-in">{{ component.heading }}</h2>
      {% endif %}
    </div>
    <div
      class="col-span-1 flex flex-col gap-6 pr-6 pl-6 xl:py-30 xl:pl-0 {{
      is_40_60
        ? "xl:pr-20"
        : "xl:pr-10"
      }} {{ is_40_60 ? "" : "xl:col-span-2" }} {{
      is_rtl
        ? "xl:order-first"
        : ""
      }}"
    >
      {% if component.title %}
        {% set title_class = component.title_size == "big"
          ? "heading-h4"
          : component.title_size == "medium"
            ? "heading-h5 font-semibold"
            : "heading-h6 font-semibold"
        %}
        <h6 class="{{ title_class }} blur-in">{{ component.title }}</h6>
      {% endif %}
      {% if component.content %}
        <div
          class="prose text-black0 blur-in max-w-none text-xl leading-[150%]"
        >
          {{ component.content }}
        </div>
      {% endif %}
    </div>
  </div>
</section>
